{% block concellos %}
    <div class="concellos">
        {% set nombres = concellos|sort((a, b) => a.municipio <=> b.municipio)|column('municipio') %}
        <ul>
        {% for nome in nombres %}
            <li>
                <a href="{{ path('concello', {'concello': nome }) }}" class="{% if nome == concello|default %}has-text-dark has-text-weight-bold{% endif %}">
                    {{ nome }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
