{% block concellos %}
    <div class="concellos">
        {% set nombres = concellos|sort((a, b) => a.municipio <=> b.municipio)|column('municipio') %}
        <ul>
        {% for nombre in nombres %}
            <li>
                <a href="{{ path('concello', {'concello': nombre }) }}" class="{% if nombre == concello|default %}has-text-dark has-text-weight-bold{% endif %}">
                    {{ nombre }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
